---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="On Maintenace.">
  <main>
    <h1 id="title">🚧 En desarrollo 🚧</h1>
    <div class="div">
      <div class="image-container">
        <img src="matthew-lejune-S1oestI1YWc-unsplash.jpg" />
        <p>
          Imagen de Matthew Lejune: <a
            href="https://unsplash.com/es/fotos/proximamente-letrero-en-turks-inn-S1oestI1YWc"
            >foto original</a
          >.
        </p>
      </div>
    </div>
  </main>
</Layout>

<style>
  .div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image-container {
    width: 70%;
    border-radius: 25px;
  }
  .image-container img {
    width: 100%;
    height: auto;
    border-radius: 12px;
  }
  #title {
    text-align: center;
  }
</style>
